# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\USER\Desktop\ARSW III\ARSW-MoneyLaunderingTestt\ARSW-MoneyLaunderingTest\moneylaunderingtool\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
